@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@keyframes pendulum {
  0% { transform: rotate(-3deg); }
  100% { transform: rotate(3deg); }
}

.hover-swing:hover {
  animation: pendulum 1.5s ease-in-out infinite alternate;
}